[submodule "Flounder-Engine"]
	path = Flounder-Engine
	url = https://github.com/mattparks/Flounder-Engine
[submodule "Flounder-Animation"]
	path = Flounder-Animation
	url = https://github.com/mattparks/Flounder-Animation
