[submodule "flounder-engine"]
	path = flounder-engine
	url = https://github.com/EquilibriumGames/Flounder-Engine
[submodule "Flounder-Engine"]
	path = Flounder-Engine
	url = https://github.com/EquilibriumGames/Flounder-Engine
